{% extends 'base.html' %} {% load static %} 
{% block title %} Community {% endblock %} 
{% load tags %}
{% block css %} 
  <link
          rel="stylesheet"
          href="{% static 'css/program_manager/program_manager.css' %}"
  />
  <style>
    .capitalize {
      text-transform: capitalize;
    }
    /* Create an active/current tablink class */
    .tab div div.active {
      border-top: 5px solid #1B74E4;
    }
    /* Style the tab content */
    .tabcontent {
      display: none;
    }
  </style>
{% endblock css %} {% block content %}
<div class="content-wrapper" id="vue-app">
  <section class="content-header">
    <h1>Community</h1>
  </section>
  <section class="content">
    <div class="row tab">
      <div class="col-md-2">
        <div class="small-box box-tab tab-links"  id="space-tab" @click="showSpace()">
          <div class="inner">
            <h4>Space</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="small-box box-tab tab-links"  id="post-tab" @click="showPost()">
          <div class="inner">
            <h4>Post</h4>
          </div>
        </div>
      </div>
    </div>
    <div id="post-content" class="tabcontent">
    {% include 'Community/mentor-post.html' %}
    </div>
    <div id="space-content" class="tabcontent">
    {% include 'Community/mentor-space.html' %}
    </div>
    
  </section>
  {{ request.user.id|json_script:"user_id" }}
  {{request.session.token|json_script:"token"}}
  {{request.session.company_id|json_script:"company_id"}}
  {{request.session.company_name|json_script:"company_name"}}
  {{request.session.timezone|json_script:"timezone"}}
  
</div>
{% endblock content %} {% block js %} 
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
  let app = new Vue({
    el: "#vue-app",
    delimiters: ['[[', ']]'],
    data() {
      return {
        token:JSON.parse(document.getElementById('token').textContent),
        auth:"",
        base_url:window.location.origin,
        user_id: JSON.parse(document.getElementById('user_id').textContent),
        user_company_name: JSON.parse(document.getElementById('company_name').textContent),
        user_company_id: JSON.parse(document.getElementById('company_id').textContent),
        timezone: JSON.parse(document.getElementById('timezone').textContent),
        all_space:"",
        all_post:"",
        space_list:"",
        community_base_url:"",
      };
    },
    mounted(){
        this.showSpace();
    },
    methods: {
        axiosGetRequest: function(url){
        this.auth = "Token "+this.token;
        var config = {
          method: "get",
          url: url,
          headers: {
            'Content-Type': 'application/json',
            'Authorization': this.auth,
          },
        };
        return axios(config)
        },
        axiosPostRequest: function(url, data){
            this.auth = "Token "+this.token;
            var config = {
            method: "post",
            url: url,
            headers: {
                "Content-Type": "multipart/form-data",
                "Accept": "application/json",
                'Authorization': this.auth,
            },
            data:data
            };

            return axios(config)
        },
        async destroyDataTable(id){
            if($(id).DataTable()){
            console.log("destroying", id);
            $(id).DataTable().clear();
            $(id).DataTable().destroy();
            }
        },
        async initializeDataTable(id){
            console.log("initializing");
            await this.sleep(2000);
            $(id).DataTable({
            "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
            'destroy': true,
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false,
            'retrieve'    : true,
            'scrollX'     : true,
            })
        },
        sleep: function(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        },
        showTab(tabName){
          var i, tabContent, tabLinks;
          tabContent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
          }
          tabLinks = document.getElementsByClassName("tab-links");
          for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName+'-content').style.display = "block";
          document.getElementById(tabName+'-tab').classList.add("active");
        },
        communityBaseUrl(){
          var host = window.location.host; 
          if( host == '127.0.0.1:8000'){
              this.community_base_url = 'http://localhost:8080'
          }
          if( host == 'dev.growatpace.com'){
              this.community_base_url = 'http://forum.dev.growatpace.com'
          }
          if( host == 'growatpace.com'){
              this.community_base_url = 'http://forum.growatpace.com'
          }
        },
        async showSpace(){
          this.showTab('space');
          await this.destroyDataTable('#post-table')
          var url = this.base_url+"/atpace-community/user-space/"+this.user_id;
          response = await this.axiosGetRequest(url);
          console.log("All Space Response", response.data.data);
          this.all_space = response.data.data.user_space;
          this.communityBaseUrl();
          await this.initializeDataTable('#space-table')
        },
        async showPost(){
          this.showTab('post');
          await this.destroyDataTable('#space-table')
          var url =  this.base_url+"/atpace-community/user-posts/"+this.user_id+"/?timezone="+this.timezone;
          response = await this.axiosGetRequest(url);
          console.log("All Post Response", response.data.data);
          this.all_post = response.data.data.All_Posts;
          this.communityBaseUrl();
          await this.initializeDataTable('#post-table')
        },
    }
  });
</script>

{% endblock js %}
