<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        <div>
            <h6>{{report_type}}</h6>
            <small>{{description}}</small>
        </div>
        <a href="{{url}}"><h2>"{{post_title}}"</h2></a>
        <div>
            <img src="{{MEIDA_URL}}{{user_profile_image}}" alt="profile">
            <h4>{{user_name}}</h4>
            <small>{{user_profile_heading}}</small>
            <p>{{time_zone}}</p>
        </div>
        <div>
            <p>{{description}}</p>
        </div>
    </div>
</body>
</html>