{% extends 'base.html' %} 
{% block title %}Create Meeting{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
   <h1>
       Contact Program Team
   </h1>
    
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      {% include 'messages.html' %}
      <div class="box-header with-border">
          <h4>Contact Program Team</h4>
      </div>
      <div class="box-body">
        {% crispy form %}

      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
  </div>
{#    <script type="text/javascript">#}
{#        var userType = "{{request.session.user_type}}";#}
{#        var button = document.getElementById("submit-id-submit")#}
{#        console.log(userType, "aaaa")#}
{#        if(userType==="Learner" || "Mentor"){#}
{#            button.removeEventListener("load")#}
{#             window.addEventListener("load", function () {#}
{#            button.removeAttribute("disabled"); // or removeAttribute("disabled")#}
{#        })#}
{#        }#}
{#        if(userType==="Admin" || "ProgramManager"){#}
{#            button.removeEventListener("load")#}
{#             window.addEventListener("load", function () {#}
            {#button.removeAttribute("disabled"); // or removeAttribute("disabled")#}
{#                 button.disabled = true#}
{#        })#}
{#        }#}
{##}
{#    </script>#}
{% endblock content %}
