{% extends 'base.html' %} 
{% block title %}Edit Meeting{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% block css %}
<style>
.hide_space{
  display:'none';
}
</style>
{% endblock css %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    {% if '/edit-meet/' in request.path %}<h1>Edit LiveStream</h1>{% else %}<h1>Edit Group Call</h1>{% endif %}

  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      {% include 'component/error_message.html' %}
      <div class="box-header with-border">
        {% if '/edit-meet/' in request.path %}<h3 class="box-title">Edit LiveStream</h3>{% else %}<h3 class="box-title">Edit Group Call</h3>{% endif %}
      </div>
      <div class="box-body">
        
        {% crispy form %}

      </div>
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
  </div>
  {% block js %}
  <script>
    var add_to_community = document.querySelector('#id_add_to_community')
    space_box = document.querySelector('#div_id_space_name')
    add_to_community = document.getElementById("id_add_to_community")
    if(add_to_community.checked == false){
        space_box.style.display = 'none';
    }

    add_to_community.addEventListener('change', (event) => {
      console.log("add_to_community",event.target.checked)
      if(event.target.checked == true){
        console.log(space_box)
        space_box.style.display = 'block';
        space_box.style.width = "550px";
      }
      else{
        space_box.style.display = 'none';
      }
    });


  </script>
  {% endblock js %}
{% endblock content %}
