{% extends 'base.html' %} {% load static %}
{% load tags %}
<!-- DataTables -->
{% block css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %} 
{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <h1>Collaboration<small>Group Meeting</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Collaboration</a></li>
      <li class="active">List</li>
    </ol>
  </section>  
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Group Meeting List</h3>
            <a href="{% url 'user:create_group_meet' %}"><button class="btn btn-primary pull-right">Create Group Meeting</button></a>    
          </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                 <thead>
                  <tr>
                    <th>Company</th>
                    <th>Journey</th>
                    <th>Topic</th>
                    <th>Summary</th>
                    <th>Annoucement Date</th>
                </tr>
                 </thead>
                 <tbody>
                  {% for announcement in program_announcements %}
                    <tr>
                      
                      <td>{{announcement.company.name}}</td>
                      <td>{{announcement.journey.title}}</td>
                      <td>{{announcement.topic}}</td>
                      <td>{{announcement.summary}}</td>
                      <td>{{announcement.announce_date}}</td>
                    </tr>
                    {% endfor %}
                 </tfoot>
               </table>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
 
          
         </div>
       <!-- /.col -->
    </div>
    <!-- /.row -->
 </section>
 
</div>
{% endblock content %} 
{% block js %}
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>

$(function () {
 
  $('#example2').DataTable({
    "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : true,
    'scrollX'     : true
  })
})
</script>
{% endblock js %}
