{% extends 'base.html' %} {% load static %}
{% block title %} Journey User List {% endblock %} 
<!-- DataTables -->
{% block css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %} 
{% block content %}


<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Journey User 
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Journey</a></li>
      <li><a href="#">User</a></li>
      <li class="active">List</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
       <div class="col-xs-12">
           <div class="box">
             <div class="box-header">
               <h3 class="box-title">Journey User List</h3>
               
             </div>
             <!-- /.box-header -->
             <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                     <tr>
                       <th>Full Name</th>
                       <th>Username</th>
                       <th>Email</th>
                       <th>Phone</th>
                       <th>Status</th>
                       <!-- <th>Action</th> -->
                   </tr>
                    </thead>
                    <tbody>
                       
                     {% for user in user_list %}
                     
                       <tr>
                         
                         <td>{{user.user.first_name}} {{user.user.last_name}}</td>
                         <td>{{user.user.username}}</td>
                         <td>{{user.user.email}}</td>
                         <td>{{user.user.phone}}</td>
                         <td>
                           {% if user.user.is_active %}
                             <kbd>Active</kbd>
                           {% else %}
                             <kbd>InActive</kbd>
                           {% endif %}
                           </td>
                         
                       </tr>
                       {% endfor %}
                    </tfoot>
                  </table>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
 
          
         </div>
       <!-- /.col -->
    </div>
    <!-- /.row -->
 </section>
 
</div>
{% endblock content %} 
{% block js %}
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>

$(function () {
  $(".delete_channel").click(function(){
    var id = $(this).parents("tr").attr("id");
    bootbox.confirm({
    message: "Are you sure to remove this record ?",
    buttons: {
        confirm: {
            label: 'Yes',
            className: 'btn-success'
        },
        cancel: {
            label: 'No',
            className: 'btn-danger'
        }
    },
    callback: function (result) {
        if(result == true){
          $.ajax({
               url:  "{% url 'content:delete_channel' %}",
               type: 'post',
               data: {pk: id, csrfmiddlewaretoken : "{{csrf_token}}" },
               error: function() {
                bootbox.alert('Something is wrong');
               },
               success: function(data) {
                    $("#"+id).remove();
                    bootbox.alert("Record removed successfully");  
               }
            });
        }
    }
});
});
});

$(function () {
 
  $('#example2').DataTable({
    "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : true,
    'scrollX'     : true
  })
})
</script>
{% endblock js %}
