{% extends 'base.html' %} {% load static %}
{% block title %} Course Approval {% endblock %}
<!-- DataTables -->
{% block css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %} 
{% block content %}


<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Course Approval
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Course Approval</a></li>
      <li class="active">List</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
       <div class="col-xs-12">
           <div class="box">
             <div class="box-header">
               <h3 class="box-title">Courses List</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body">
               <table id="example2" class="table table-bordered table-hover">
                 <thead>
                 <tr>
                  <tr>
                    <th>Title</th>
                    <th>Icon</th>
                    <th>Status</th>
                    <th>Journey</th>
                    <th>Last Update</th>
                    <th>Action</th>
                  </tr>
                   
                 </tr>
                 </thead>
                 <tbody>
                   {% for content in content %}
                   <tr>
                    <td>{{content.content.title}}</td>
                    <td><img src="{{MEDIA_URL}}{{content.content.image}}" width="100px" height="90px"></td>
                    <td>{{content.status}}</td>
                    <td>{{content.channel_group}}</td>
                    <td>{{content.updated_at|date:"Y-m-d H:s"}}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn bg-purple dropdown-toggle btn-select-option" type="button" data-toggle="dropdown" aria-expanded="true">Select an option                                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu options-dropdown">
                            {% if content.status != "Live" %}
                            <li>
                                <a href="{% url 'content:approve_content' pk=content.pk %}"><i class="fa fa-check option-icon"></i>Approve</a>
                            </li>
                            <li>
                              <a href="{% url 'content:reject_content' pk=content.pk %}"><i class="fa fa-times option-icon"></i>Reject</a>
                          </li>
                            {% endif %}
                            <li>
                              <a href="{% url 'content:admin_read_content' pk=content.content.pk %}"><i class="fa fa-eye option-icon"></i>View</a>
                          </li>
                        </ul>
                    </div>
                    </td>
                   </tr>
                   {% endfor %}
                 </tfoot>
               </table>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
 
          
         </div>
       <!-- /.col -->
    </div>
    <!-- /.row -->
 </section>
 
</div>
{% endblock content %} 
{% block js %}
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>

$(function () {
 
  $('#example2').DataTable({
    "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : false,
    'info'        : true,
    'autoWidth'   : true,
    'scrollX'     : true
  })
})
</script>
{% endblock js %}
