{% extends 'base.html' %} {% load static %}
{% block title %} Enroll Request {% endblock %}
<!-- DataTables -->
{% block css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %} 
{% block content %}


<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Enroll Request
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Enroll Request</a></li>
      <li class="active">List</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
       <div class="col-xs-12">
           <div class="box">
             <div class="box-header">
               <h3 class="box-title">Journey List</h3>
             </div>
             <!-- /.box-header -->
             <div class="box-body">
               <table id="example2" class="table table-bordered table-hover">
                 <thead>
                 <tr>
                  <tr>
                    <th>Journey</th>
                    <th>User</th>
                    <th>Action</th>
                  </tr>
                   
                 </tr>
                 </thead>
                 <tbody>
                   {% for pending_request in pending_request %}
                   <tr>
                    
                    <td>{{pending_request.Channel}}</td>
                    <td>{{pending_request.user}}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn bg-purple dropdown-toggle btn-select-option" type="button" data-toggle="dropdown" aria-expanded="true">Select an option                                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu options-dropdown">
                            <li>
                                <a href="{% url 'content:approve_request' pk=pending_request.pk %}"><i class="fa fa-edit option-icon"></i>Approved</a>
                            </li>
                            <li>
                              <a href=""><i class="fa fa-edit option-icon"></i>Reject</a>
                            </li>
                        </ul>
                    </div>
                    </td>
                   </tr>
                   {% endfor %}
                 </tfoot>
               </table>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
 
          
         </div>
       <!-- /.col -->
    </div>
    <!-- /.row -->
 </section>
 
</div>
{% endblock content %} 
{% block js %}
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>

$(function () {
 
  $('#example2').DataTable({
    "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : true,
    'scrollX'     : true
  })
})
</script>
{% endblock js %}
