<div class="box">
    <div class="box-header">
      <h3 class="box-title">All Journey</h3>
    </div>
      <!-- /.box-header -->
    <!-- <div class="box-body"> -->
    <div class="box-body">
        <table id="all-journey-table" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Title</th>
              <th>Type</th>
              <th>Duration</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
            </thead>
            <tbody>
              <tr v-for="journey in all_journey" :key="journey.id">
                <td class="capitalize">[[journey.title]]</td>
                <td>[[journey.journey_type]]</td>
                <td>[[journey.duration]]</td>
                <td><span v-if="journey.user_status == 'Joined'">InProgress</span><span v-else>[[journey.user_status]]</span></td>
                <td><a :href="'/content/journey/'+journey.id"><button class="btn btn-primary">Continue</button></a></td>
              </tr>
            </tfoot>
        </table>
    </div>
      <!-- /.box-body -->
</div>
    <!-- /.box -->