{% extends 'base.html' %}  {% load tags %} {% block title %} Allot Channel {% endblock %} {% load
    crispy_forms_tags %} {% block content %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Allot Channel
    
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> User Management</a></li>
          <li><a href="#">Allot Channel</a></li>
        </ol>
      </section>
    
      <!-- Main content -->
      <section class="content">
    
        <!-- Default box -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Allot Channel</h3>
    
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                      title="Collapse">
                <i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
            {% include 'component/error_message.html' %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Journey</label>
                        <select class="form-control select2" name="channel" style="width: 100%;" required>
                          <option selected="selected" value="">Select Journey</option>
                          {% for channel in request|all_channel %}
                            <option value="{{channel.pk}}">{{channel.title}}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <!-- /.form-group -->

                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Users</label>
                        <select class="form-control select2" name="user" multiple="multiple" data-placeholder="Select User"
                                style="width: 100%;" required>
                                {% for user in request|get_all_user %}
                                <option value="{{user.pk}}"> {% if user.company.all != None %} {{user.company.all|join:', '}}  -  {% endif %} {{user.first_name}} {{user.last_name}} ({% for type in user.userType.all %}  {{type.type}}, {% endfor %}) {{user.email}}</option>
                                {% endfor %} 
                        </select>
                      </div>
                      <div class="form-group">
                        <input type="checkbox" id="is_wp_enable" name="is_wp_enable" value="true" />
                        <label for="is_wp_enable">Is whatsapp Enable</label>

                      </div>
                      <!-- /.form-group -->
                      <button type="submit" id="sumbitContent" class="btn btn-primary">Save changes</button>

                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
            </form>
            
          </div>
          
        </div>
        <!-- /.box -->
    
      </section>
      <!-- /.content -->
    </div>
    {% endblock content %}
    