{% extends 'base.html' %} {% load static %} {% block title %}Create Survey {% endblock %}
 {% load crispy_forms_tags %} {% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create Survey
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Survey</a></li>
        <li><a href="#">Create</a></li>
      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">
  
      <!-- Default box -->
      <div class="box">
        {% include 'component/error_message.html' %}
        <div class="box-header with-border">
          <h3 class="box-title">Create Survey</h3>

        </div>
        <div class="box-body">
          {% crispy form %}
  
        </div>
      </div>
      <!-- /.box -->
  
    </section>
    <!-- /.content -->
  </div>
  {% endblock content %}

  {% block js %}
  <script src="{% static 'bower_components/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript">                 
    CKEDITOR.replace('editor_description')
    CKEDITOR.add
    </script>
  {% endblock %}