{% extends 'base_with_empty_sidebar.html' %}
{% load static %} {% load tags %}
{% block css %} 
<link
      rel="stylesheet"
      href="{% static 'css/test_questions/test_form.css' %}"
    />
{% endblock %}
  {% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" id="vue-app">
        <div v-show="survey_form">
          <section class="content-header">
            <h1 class="feedback-header">Survey </h1>
            {% if questions_list.length > 0 %}
            <div class="ques-progress-bar">
              <span>[[ques_no-1]]</span>/
              <span>[[questions_list.length]]</span>
            </div>
            {% endif %}
          </section>

          <section class="content" style="margin:0px; max-width:1500px;">
            <div class="row">
              <div class="col-md-6 col-12 col-sm-12">
                <div class="ques-img">
                  <img v-if="question.image" :src="question.image"/>
                  <img v-else src="{{image}}"/>
                </div>
              </div>
              <div class="col-md-6 col-12 col-sm-12 question-box">
                <div style="margin-top:100px" v-if="questions_list.length == 0">
                  <h4>We are adding questions in this survey. Meanwhile you can take other survey and go through next content.</h4>
                  <button class="btn test-btn pull-right" type="button" @click="redirectJourney">Go Back</button>
                </div>
                <div class="" style="margin:auto">
                  <form method="post">
                    <input type="hidden" name="question_id" :value="question.id" id="ques_id">
                    <input type="hidden" name="question_type" :value="question.type" id="ques_type">
                    <input type="hidden" name="is_required" :value="question.is_required" id="is_required">  
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'DropDown'">
                      {% include 'test_ques/dropdown.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'ShortAnswer'">
                      {% include 'test_ques/short_ans.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'MultiChoice'">
                      {% include 'test_ques/multiChoice.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'Checkbox'">
                      {% include 'test_ques/checkbox.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'Paragraph'">
                      {% include 'test_ques/paragraph.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'LinearScale'">
                      {% include 'test_ques/rating.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'Date'">
                      {% include 'test_ques/date.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'Time'">
                      {% include 'test_ques/time.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'FileUpload'">
                      {% include 'test_ques/file_upload.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'MultiChoiceGrid'">
                      {% include 'test_ques/multi_choice_grid.html' %} 
                    </div>
                    <div class="row content_data" :data-id="question.id" v-if="question.type == 'CheckboxGrid'">
                      {% include 'test_ques/checkbox_grid.html' %} 
                    </div>
                    
                    <button class="btn test-btn" @click="getQues(ques_no)" type="button" v-if="has_next">Next</button>
                    <button class="btn test-btn" type="button" v-if="has_next == false && questions_list.length > 0" @click="submitSurvey()">Submit</button>
                    </form>
                  </div>
                </div>
            </div>
          </section>
        </div>
        <div v-show="survey_preview">
          <section class="content-header">
            <h1 class="feedback-header">Survey</h1>
          </section>

          <section class="content">
            <div class="box" style="padding:10px; border:none">
              <div class="box-header with-border">
                <h3 class="box-title">Survey Response</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" v-for="(ques, index) in survey_preview_list" :key="index">
                      <label>[[ques.question]]</label>
                      <p>[[ques.answer]]</p>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-info pull-right" @click="redirectJourney()">OK</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {{ request.user.id|json_script:"user_id" }}
        {{request.session.token|json_script:"token"}}
      </div>
    {% endblock content %} 
  {% block js %} 

<script type="text/javascript">
  let app = new Vue({
    el: "#vue-app",
    delimiters: ['[[', ']]'],
    data() {
      return {
        token:JSON.parse(document.getElementById('token').textContent),
        auth:"",
        user_id: JSON.parse(document.getElementById('user_id').textContent),
        base_url:window.location.origin,
        questions_list:"",
        question:"",
        ques_no:1,
        has_next:false,
        ques_response:[],
        row_no:"",
        image_path:"",
        journey_id : window.location.href.split("/")[5],
        survey_id : window.location.href.split("/")[6],
        survey_form: true,
        survey_preview: false,
        attempt_id: "",
        survey_preview_list: ""
      };
    },
    mounted(){
      this.getSurvey();
    },
    methods: {
      axiosGetRequest: function(url){
        this.auth = "Token "+this.token;
        var config = {
          method: "get",
          url: url,
          headers: {
            'Content-Type': 'application/json',
            'Authorization': this.auth,
          },
        };
        return axios(config)
      },
      axiosPostRequest: function(url, data){
        this.auth = "Token "+this.token;
        var config = {
          method: "post",
          url: url,
          headers: {
            "Content-Type": "multipart/form-data",
            "Accept": "application/json",
            'Authorization': this.auth,
          },
          data:data
        };
        return axios(config)
      },
      uploadFile(event) {
      console.log("calling", event)
      if (event.target.files[0]["size"] > 999999) {
        bootbox.alert("File size too big add upto 1 MB file size only");
      } else {
        this.image_path = event.target.files[0];
        console.log("file", this.image_path)
      }
    },
      addResponse(){
          var ques_type = document.getElementById("ques_type").value
          var ques_id = document.getElementById("ques_id").value
          var is_required = document.getElementById("is_required").value
          var ques_ans = ""
          var checked_checkbox = []
          //console.log("questyope", ques_type)
          if(ques_type == 'DropDown'){
            ques_ans = this.$refs.ans_val.value
          }
          if(ques_type == 'MultiChoice'){ 
            //console.log("ques_id","answer"+ques_id)
            var ele = document.getElementsByName("answer"+ques_id)
            //console.log("ele", ele)

            for(i = 0; i < ele.length; i++) {
              if(ele[i].checked){
                //console.log(ele[i].value)
                ques_ans = ele[i].value
              }
            }
          }
          if(ques_type == 'Checkbox'){ 
            var ele = document.getElementsByName("answer"+ques_id)
            console.log("ele", ele)
            for(i = 0; i < ele.length; i++) {
              if(ele[i].checked){
                console.log(ele[i])
                if (ques_ans != ""){
                  ques_ans = ques_ans + ","
                }
                ques_ans = ques_ans + ele[i].value
              }
            }
          }
          if(ques_type == 'MultiChoiceGrid' || ques_type == 'CheckboxGrid'){ 
            ques_ans = {}
            for(let i=0; i<this.questions_list.length; i++){
              if(this.questions_list[i].id == ques_id){
                this.row_no = this.questions_list[i].options[0].grid_row.length
              }
            }
            for(let i=0; i<this.row_no; i++){
              checked_checkbox = []
              var ele = document.getElementsByName("answer"+i+ques_id)
              //console.log("ele", ele)
              for(j = 0; j < ele.length; j++) {
                if(ele[j].checked){
                  //console.log(ele[j].value)
                  checked_checkbox.push(ele[j].value)
                }
              }
              ques_ans['row_'+(i+1)] = checked_checkbox
            }
          }
          if(ques_type == 'ShortAnswer' || ques_type == 'Time' || ques_type == 'Date' || ques_type == 'LinearScale' || ques_type == 'Paragraph'){
            ques_ans = document.getElementById("ans").value
            document.getElementById("ans").value = ""
          }
          if(ques_type == 'FileUpload'){
            console.log("dile", this.image_path)
            ques_ans = this.image_path
          }
          console.log("add response", is_required, ques_ans, checked_checkbox.length, ques_type)
          if(is_required == 'true' && ques_ans == ''){
            bootbox.alert("This question is required!!")
            console.log("203")
            return false
          }
          else if(is_required && (ques_type == 'MultiChoiceGrid' || ques_type == 'CheckboxGrid') && checked_checkbox.length == 0){
            console.log("208")
            bootbox.alert("This question is required!")
            return false
          }
          else{
            console.log("211")
              if(ques_type != 'FileUpload'){
                this.ques_response.push({
                  "q_id":Number(ques_id),
                  "response":ques_ans
                })
              }
            console.log("ques_response", this.ques_response)
            return true
          }
      },
      getQues(ques_no){
        console.log("get question no function")
        var validate = true
        if(ques_no >= 2 ){
          validate = this.addResponse()
        }
        console.log("validate", validate)
        //console.log("ques_no", ques_no, this.questions_list.length)
        if(validate == 'true' || validate == true){
          for(let i=0; i<this.questions_list.length; i++){
            if(ques_no == this.questions_list[i].display_order){
              //console.log("this.",this.questions_list[i].type)
              this.question = this.questions_list[i]
            }
          }
          this.ques_no = this.ques_no+1
          if(this.ques_no <= this.questions_list.length){
            this.has_next = true
          }
          else{
            this.has_next = false
          }
          return true
        }
        return false
      },
      getSurvey() {
        this.auth = "Token "+this.token;
        var data = new FormData();
        data.append("survey_id", this.survey_id);
        data.append("user_id", this.user_id);
        data.append("journey_type", "MentoringJourney");

        var config = {
          method: "post",
          url: this.base_url+"/api/survey/",
          headers: {
            "Content-Type": "multipart/form-data",
            "Accept": "application/json",
            'Authorization': this.auth,
          },
          data:data
        };
        axios(config)
          .then((response) => {
            console.log("Survey Response", response.data);
            this.questions_list = response.data.data.question
            //console.log(response.data.data.question[0])
            this.getQues('1');
          })
          .catch((error) => {
            console.log("error", error, error.response.data.message);
        });
      },
      submitSurvey(val) {
        console.log("submit surbey function")
        validate = this.addResponse()
        if(validate == 'true' || validate == true){
          this.auth = "Token "+this.token;
          var data = new FormData();
          data.append("survey_id", this.survey_id);
          data.append("journey_id", this.journey_id);
          data.append("user_id", this.user_id);
          data.append("journey_type", "SkillDevelopment");
          data.append("questions",JSON.stringify(this.ques_response))
          console.log("data", data, JSON.stringify(this.ques_response), this.ques_response)
          var config = {
            method: "post",
            url: this.base_url+"/api/submit-survey/",
            headers: {
              "Content-Type": "multipart/form-data",
              "Accept": "application/json",
              'Authorization': this.auth,
            },
            data:data
          };
          axios(config)
            .then((response) => {
              console.log("Survey Response", response.data);
              bootbox.alert("Survey Submitted Successfully!")
              window.location.assign("/content/journey/v2/"+this.journey_id)
              //this.survey_form = false
              //this.survey_preview = true
              //this.attempt_id = response.data.data.data.survey_attempt_id
              //this.showPreview()
            })
            .catch((error) => {
              console.log("error", error, error.response.data.message);
              bootbox.alert("Something Went Wrong!")
          });
          return true
        }
        return false
      },
      async showPreview() {
        var url = this.base_url+"/api/survey-answer/"+this.user_id+"/"+this.attempt_id;
        let response = await this.axiosGetRequest(url);
        console.log("Survey Answer Response", response.data);
        this.survey_preview_list = response.data.response

      },
      redirectJourney(){
          window.location.assign("/content/journey/v2/"+this.journey_id)
      }
    }
  });
</script>

{% endblock js %}
