{% extends 'base.html' %} {% load static %} 
{% block title %} Support {% endblock %} 
{% load tags %}
{% block css %} 
  <link
          rel="stylesheet"
          href="{% static 'css/program_manager/program_manager.css' %}"
  />
  <style>
    .capitalize {
      text-transform: capitalize;
    }
    /* Create an active/current tablink class */
    .tab div div.active {
      border-top: 5px solid #1B74E4;
    }
    /* Style the tab content */
    .tabcontent {
      display: none;
    }
  </style>
{% endblock css %} {% block content %}
<div class="content-wrapper" id="vue-app">
  <section class="content-header">
    <h1>Support</h1>
  </section>
  <section class="content">
    <div class="row tab">
      <div class="col-md-2">
        <div class="small-box box-tab tab-links"  id="contact-team-tab" @click="showContactTeam()">
          <div class="inner">
            <h4>Contact Program Team</h4>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-team-content" class="tabcontent">
    {% include 'Support/contact-program-team.html' %}
    </div>
    
  </section>
  {{ request.user.id|json_script:"user_id" }}
  {{request.session.token|json_script:"token"}}
  {{request.session.company_id|json_script:"company_id"}}
  {{request.session.company_name|json_script:"company_name"}}
  
</div>
{% endblock content %} {% block js %} 
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
  let app = new Vue({
    el: "#vue-app",
    delimiters: ['[[', ']]'],
    data() {
      return {
        token:JSON.parse(document.getElementById('token').textContent),
        auth:"",
        base_url:window.location.origin,
        user_id: JSON.parse(document.getElementById('user_id').textContent),
        user_company_name: JSON.parse(document.getElementById('company_name').textContent),
        user_company_id: JSON.parse(document.getElementById('company_id').textContent),
        subject:"",
        issue:"",
        image:""
      };
    },
    mounted(){
        this.showContactTeam();
    },
    methods: {
        axiosGetRequest: function(url){
        this.auth = "Token "+this.token;
        var config = {
          method: "get",
          url: url,
          headers: {
            'Content-Type': 'application/json',
            'Authorization': this.auth,
          },
        };
        return axios(config)
        },
        axiosPostRequest: function(url, data){
            this.auth = "Token "+this.token;
            var config = {
            method: "post",
            url: url,
            headers: {
                "Content-Type": "multipart/form-data",
                "Accept": "application/json",
                'Authorization': this.auth,
            },
            data:data
            };

            return axios(config)
        },
        async destroyDataTable(id){
            if($(id).DataTable()){
            console.log("destroying", id);
            $(id).DataTable().clear();
            $(id).DataTable().destroy();
            }
        },
        async initializeDataTable(id){
            console.log("initializing");
            await this.sleep(2000);
            $(id).DataTable({
            "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
            'destroy': true,
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false,
            'retrieve'    : true,
            'scrollX'     : true,
            })
        },
        sleep: function(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        },
        showTab(tabName){
          var i, tabContent, tabLinks;
          tabContent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
          }
          tabLinks = document.getElementsByClassName("tab-links");
          for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
          }
          document.getElementById(tabName+'-content').style.display = "block";
          document.getElementById(tabName+'-tab').classList.add("active");
        },
        uploadImage(event) {
            if(event.target.files[0]["size"] > 999999){
                bootbox.alert("File size too big add upto 1 MB file size only");
            }
            else{
                this.image = event.target.files[0];
            }
        },
        showContactTeam(){
          this.showTab('contact-team');
        },
        async onContactProgramTeam(){
            console.log("data", this.subject, this.issue, this.image)
            var data = new FormData();
            data.append("user_id", this.user_id)
            data.append("subject", this.subject)
            data.append("issue", this.issue)
            data.append("image", this.image)
            var url = this.base_url+"/api/contact-program-team/?company_id="+this.user_company_id;
            var response = await this.axiosPostRequest(url, data)
            console.log("on contact program team", response.data)
            if(response.data.response == "Success"){
              bootbox.alert("Issue raised successfully. We'll try to resolve it shortly!")
            }
            else{
             bootbox.alert("Something went wrong!")
            }
            $('#contact_program_form').trigger("reset");
        }

    }
  });
</script>

{% endblock js %}
