
    <input type="hidden" name="ques" id="ques" value="{{question.id}}"/>
    <div class="form-group">
        <label class="question_label " >{{ question.title }} {% if question.is_required is True %} * {% endif %}</label><br>
        {% for value in question.option_list %}
        <div class="form-check">
        <input
            class="form-check-input"
            type="checkbox"
            value="{{value}}"
            name = "ans"
            id="defaultCheck1{{value}}"
            {% if question.is_required %}
            required
            {% endif %}
        />
        <label class="form-check-label" for="defaultCheck1{{value}}">
            {{value}}
        </label>
        </div>
        {% endfor %}
    </div>