{% extends 'full_base.html' %} {% load static %} {% block content %}
<div class="content-wrapper">
  <section class="content-header"></section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <!-- <h2 class="headline text-yellow">404</h2> -->

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! </h3>

        <p>
          your profile needs to be adjusted please send a message to info@growatpace.com with subject profile adjustment. Thank you for your understanding and sorry for the inconvenience
        </p>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
</div>
{% endblock content %}
