{% if messages %}
               <div class="row " >
                 <div class="col-md-6">
               {% for message in messages %}
               <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" style="padding-left: 10px !important; padding: 0;" >
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                 <h6><i class="fa fa-time"></i>{{ message }}</h6>
                </div>
                 {% endfor %}
               </div>
               <div class="col-md-6"></div>
             </div>
               
   
             
               {% endif %}