{% extends 'website/web_base.html' %} 
{% load static %}
{% block title %}Partners{% endblock title %}
{% block content %}

<!-- <link rel="stylesheet" href="{% static 'partners/css/preloader.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/meanmenu.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/swiper-bundle.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/backToTop.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/jquery.fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/fontAwesome5Pro.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/elegantFont.css' %}">
<link rel="stylesheet" href="{% static 'partners/css/default.css' %}"> 
<link rel="stylesheet" href="{% static 'partners/css/style.css' %}"> -->
<link rel="stylesheet" href="{% static 'partners/css/extra_styling.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- about area start -->
<section class="teacher__area pt-115 pb-110">
    <div class="container">

       <div class="row">
          <div class="col-xxl-6 offset-xxl-3">
             <div class="section__title-wrapper text-center mb-60">
                <h2 class="section__title">Our
                   <span class="yellow-bg"> Partners <img src="{% static 'partners/img/yellow-bg-2.png' %}" alt=""></span><br>
                </h2>
                <p style="text-align: center;">Because we Grow together.</p>
             </div>
          </div>
       </div>
       
       <div class="row" style="height: 2400px;">
         
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo7.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">HRFC</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Human Resources & Finance Community</h3>
                           <p>We will always commit to provide and create a safe environment for our members to participate and build relationships and networks, gain knowledge, skills and learning and share experiences, so that we can, as individuals and as a community, successfully and effectively be better prepared to face all future challenges.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
             
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo9.1.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">Mentoring & Guidance AIB</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Mentoring & Guidance AIB</h3>
                           <p>Focuses on creating opportunities, possibilities & solutions from Mentoring & Guidance for Individuals, Professionals & Leaders to successfully grow & develop to the fullest potential.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
             
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo9.2.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h4 class="teacher__title">Mentoring in Careers</h4>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Mentoring in Careers, Business & Organisations LLP</h3>
                           <p>Focuses on creating opportunities, possibilities & solutions from Mentoring & Guidance for Individuals, Businesses & Organizations to successfully grow & develop to the fullest potential.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
           
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo14.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">Seize The Ads</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_instagram" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_linkedin" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Seize The Ads</h3>
                           <p>Seize The Ads: Central India's premier performance marketing agency. We excel in tailor-made software and mobile development, prioritizing exceptional user experiences and fostering secure learning environments. Our mission: empowering growth with excellence, safety, and personalized solutions.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="https://www.instagram.com/seizetheads/" target="_blank"><i class="social_instagram" ></i></a></li>
                                 <li><a href="https://www.linkedin.com/company/seize-the-ads/mycompany/" target="_blank"><i class="social_linkedin" ></i></a></li>
                                 <li><a href="https://seizetheads.co/" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>

         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo6.jpg' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">SSTC Institute</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About SSTC Institute</h3>
                           <p>SSTC focuses on the students and their aspirations. We use quality education to empower our students to achieve their goals and dreams. No matter what careers they plan to be in, we want to play a role in helping them get there.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>

         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo2.jpg' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">Brydan Group</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Brydan Group</h3>
                           <p>Brydan Group is the Master Accreditation Centre and Publisher for DISC and Leadership 360 Behavioural Profile and Culture Mapping Profile. We seek to be a Resource and Solutions Partner for organizations to provide them with evidence-based, sustainable and tailor-made solutions. Till date, we have profiled more than 250,000 people in 8 different countries.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>

         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo4.jpg' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">EunoiaCoaches</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About EunoiaCoaches</h3>
                           <p>EunoiaCoaches focus on social-emotional leadership and mental well-being through coaching programs and training workshops that equip individuals with realizing resilience, self-awareness, positive intelligence, collaborative skills, relationship excellence.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
         
         <!-- flipping card -->
        
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo5.jpg' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">Startup Junkie SG Pte Ltd</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Startup Junkie SG Pte Ltd</h3>
                              <p>Startup Junkie SG is a Business Development Strategist that aids companies and startups in achieving sustainable growth and becoming global brands. As the venture catalyst arm for the Walton Family Foundation in Southeast Asia, they provide coaching, mentoring, and consultation services to foster coherent business strategies, align processes, and source overseas business ventures  
                              </p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
           
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo3.jpg' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">About Actxa Wellness Pte Ltd</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Actxa Wellness Pte Ltd</h3>
                           <p>Actxa Wellness is a leading wellness solutions provider in Southeast Asia, offering personalized workshops, webinars, and a gamified wellness curriculum through their app. They empower individuals and organizations to adopt sustainable wellness lifestyles by focusing on nutrition, sleep, and exercise. Their flagship program, Journey With Wellness (JWW), enhances employee wellness, team building, and mental wellbeing.
                           </p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
           
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo8.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">Associate Partners</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Associate Partners</h3>
                           <p>Associate Partners offer comprehensive learning solutions such as auditing, blending, customization, and contextualization. They specialize in designing and developing WSQ and Non-WSQ programs, providing workplace learning and on-the-job training, and developing OJT blueprints aligned with organizational culture and SOPs. Their core competencies include HR, learning and development, leadership, team and performance management, soft skills, customer and quality service management, and coaching and mentoring.
                           </p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>

         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo10.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">ASolution4U LLP</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About ASolution4U LLP</h3>
                           <p>ASolution4U is a business consulting firm that combines insights and creativity to develop successful strategies. They believe in the importance of listening, internalizing, and transforming requirements to create solutions based on industry best practices. They prioritize happy employees, as they believe it leads to increased productivity and healthy profits. Additionally, they emphasize creating an environment that promotes engagement and empowerment, which ultimately leads to excellence.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
           
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo11.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">Savoir Asia Consulting </h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Savoir Asia Consulting Pte Ltd (Growthbeans)</h3>
                           <p>
                              Growthbeans is an Asian social enterprise offering coaching-based programs and services to empower individuals and leaders. They foster self-awareness, compassion, and interpersonal skills to promote resilience, authentic connections, and meaningful contributions. Through psychologically safe and inclusive communities, Growthbeans facilitates personal and collective growth. They also lead Growth Collective SG.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
           
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo12.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">P.E.A.K.S. Pte Ltd</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About P.E.A.K.S. Pte Ltd</h3>
                           <p>Professionals Executives Attitudes Knowledge and Skills focuses on building resilience in individuals and organizations through the development of human-centric skills such as teamwork, leadership, decision-making, situational awareness, and risk management. They achieve this through coaching, training, facilitating conversations, and consulting. They have also initiated the T.H.R.I.V.E. Initiative, bringing together wellness, well-being, and leadership experts to shape workplace culture and performance. </p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
           
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">
                  <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                     <div class="teacher__thumb w-img fix">
                     <a href="#" target="_blank">
                       <img src="{% static 'partners/img/logo13.png' %}" alt="">
                     </a>
                     </div>
                     <div class="teacher__content">
                        <h3 class="teacher__title">Art of Awakening</h3>
                        <div class="teacher__social">
                           <ul>
                              <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                              <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="flip-card-back">
                     <div class="flip-card teacher__item text-center grey-bg-5 transition-3 mb-30">
                        <div class="teacher__content">
                           <h3 class="teacher__title">About Art of Awakening</h3>
                           <p>Art of Awakening is a visual consultancy partner that helps leaders, teams, and organizations enhance communication and collaboration. They specialize in utilizing visual communication strategies and tools to create impactful experiences through customized facilitation, coaching, interactive keynotes, and live graphic recording, emphasizing the power of combining storytelling with visuals.</p>
                           <div class="teacher__social">
                              <ul>
                                 <li><a href="#" target="_blank"><i class="social_facebook" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="social_twitter" ></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fa fa-globe" ></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
         </div>

       </div>
    </div>
 </section>
<!-- about area end -->
<!-- JS here -->

<!-- <script src="{% static 'partners/js/vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'partners/js/vendor/waypoints.min.js' %}"></script>
<script src="{% static 'partners/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'partners/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'partners/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'partners/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'partners/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'partners/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'partners/js/parallax.min.js' %}"></script>
<script src="{% static 'partners/js/backToTop.js' %}"></script>
<script src="{% static 'partners/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'partners/js/ajax-form.js' %}"></script>
<script src="{% static 'partners/js/wow.min.js' %}"></script>
<script src="{% static 'partners/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'partners/js/main.js' %}"></script> -->

{% endblock content %}
<script src="{% static 'partners/js/extra_script.js' %}"></script>

