
{% extends 'website/web_base.html' %} {% load static %}{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/css/intlTelInput.css">
         <!-- sign up area start -->
         <section class="signup__area po-rel-z1 pt-100 pb-145">
            <div class="sign__shape">
               <img class="man-1" src="assets/img/icon/sign/man-3.png" alt="">
               <img class="man-2 man-22" src="assets/img/icon/sign/man-2.png" alt="">
               <img class="circle" src="assets/img/icon/sign/circle.png" alt="">
               <img class="zigzag" src="assets/img/icon/sign/zigzag.png" alt="">
               <img class="dot" src="assets/img/icon/sign/dot.png" alt="">
               <img class="bg" src="assets/img/icon/sign/sign-up.png" alt="">
               <img class="flower" src="assets/img/icon/sign/flower.png" alt="">
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                     <div class="section__title-wrapper text-center mb-55">
                        <h2 class="section__title">Create a free <br>  Account</h2>
                        
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                     <div class="sign__wrapper white-bg">
                        {% include 'component/messages.html' %}
                        <div class="sign__form">
                           <form  id="singup" method="POST" action="{% url 'user:register' %}">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="form-group col-12">
                                     <label>Enter Email *</label>
                                     <input type="email"  placeholder="Email" required class="form-control" name="email" id="">
                                 </div>
                           </div>
                           <div class="row">
                              <div class="form-group col-12">
                                <label>Enter Username *</label>
                              
                                  <input type="text" placeholder="Username"  required class="form-control" name="username" id="">
                                  <span class="help-block">The username contains all small letters and atleast one special character.</span>
                              </div>
                           </div>
                           <div class="row">
                                 <div class="form-group col-12">
                                   <label>Enter Name *</label>
                                 
                                     <input type="text" placeholder="Name"  required class="form-control" name="name" id="">
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="form-group col-12">
                                   <label>Enter Phone Number *</label>
                                   <br>
                                     <input type="text" placeholder="Mobile" style="width: 150%;" required class="form-control" name="mobile" id="phone">
                                 </div>
                             </div>
                             <div class="row">
                               <div class="form-group col-12">
                                 <label>Enter Coupon Code *</label>
                                   <input type="text" placeholder="Coupon Code" class="form-control" name="coupon_code" id="coupon_code" style="text-transform: uppercase;" required>
                               </div>
                           </div>
                           <div class="row">
                             <div class="form-group col-12">
                               <label>User Type </label>
                                 <select class="form-control" name="type">
                                   <option value="Learner">Learner/Mentee</option>
                                   <option value="Mentor">Mentor</option>
                                   
                                 </select>
                             </div>
                               <div class="sign__action d-flex justify-content-between">
                                 <div class="sign__agree d-flex align-items-center">
                                    <input class="m-check-input" type="checkbox" required class="form-control" id="m-agree" name="term_and_conditions">
                                    <label class="m-check-label" for="m-agree">I agree to the <a target="_blank" href="{% static 'website/files/Terms_of_Use(EULA)_GROWATPACE.pdf' %}"> Terms &amp; Conditions</a>
                                       </label>
                                    </div>
                                 </div>
                                 <div class="sign__action d-flex justify-content-between">
                                    <div class="sign__agree d-flex align-items-center">
                                       <input class="m-check-input" type="checkbox" class="form-control" id="m-enable" name="is_whatsapp_enable">
                                       <label class="m-check-label" for="m-enable">Enable updates on whatsapp</label>
                                          </label>
                                       </div>
                                    </div>
                         </div>
                         <br>
                              <button type="submit" class="e-btn w-100" id="btnSubmit"> <span></span> Sign Up</button>
                              <div class="sign__new text-center mt-20">
                                 <p>Already have Account ? <a href="{% url 'user:login' %}"> Sign In</a></p>
                              </div>
                              <div class="sign__new text-center mt-20">
                                 <a class="btn w-100" style="background-color:brown; color:white;" href="{% url 'user:google_login' %}" > Signup with Google </a><br><br>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- sign up area end -->
         
      </main>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/js/intlTelInput.min.js"></script>
<script>
// Vanilla Javascript
var input = document.querySelector("#phone");
window.intlTelInput(input,({
  // options here
}));

$(document).ready(function() {
    $('.iti__flag-container').click(function() { 
      var countryCode = $('.iti__selected-flag').attr('title');
      var countryCode = countryCode.replace(/[^0-9]/g,'')
      $('#phone').val("");
      $('#phone').val("+"+countryCode+" "+ $('#phone').val());
   });
});

</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(window).on('beforeunload', function () {
            $("button[type=submit]").prop("disabled", "disabled");
        });
    </script>
<script>
$(document).ready(function(){
var text = "Learner"
$("#id_type option").filter(function() {
return this.text == text; 
}).text('Learner/Mentee');
});
</script>
<script>
   $(document).ready(function(){
      $('#m-agree, #m-enable').on('change', function(){
         if ($(this).is('checked')){
            $(this).prop('value', 'False');
         }
         else {
            $(this).prop('value', 'True');
         }
      })
   })
</script>
<script>
   const form = document.getElementById('singup');
   console.log("SINGUP FORM", form)
      form.addEventListener('keypress', function(e){
         if(e.keyCode == 13){
            e.preventDefault();
            console.log("EVENT listner added")
         }
      })
</script>
{% endblock %}