{% extends 'base.html' %} {% load static %} {% block title %} Team Members {% endblock %}
 {% load crispy_forms_tags %} {% block content %}
 {% block css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %} 
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Team Members
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Web Settings</a></li>
        <li><a href="#">Team</a></li>

      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">
  
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Create Team Members</h3>

        </div>
        <div class="box-body">
          {% crispy form %}
  
        </div>
      </div>
      <!-- /.box -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Team List</h3>
          
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
             <tr>
               <th>Name</th>
               <th>Position</th>
               <th>Country</th>
               <th>LinkedIn</th>
               <th>Active Status</th>
               <th>Action</th>
               
             </tr>
            </thead>
            <tbody> 
             {% for team in Team %}
             <tr>
               <td>{{team.name}}</td>
               <td>{{team.position}}</td>
               <td>{{team.country}}</td>
               <td>{{team.linkedin_url}}</td>
               <td>{{team.is_active}}</td>
               
               <td>
                <div class="dropdown">
                  <button class="btn bg-purple dropdown-toggle btn-select-option" type="button" data-toggle="dropdown" aria-expanded="true">Select an option                                            <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu options-dropdown">
                      <li>
                          <a href="{% url 'web_app:edit_members' pk=team.pk %}"><i class="fa fa-edit option-icon"></i>Edit</a>
                      </li>
                      
                      <li  data-id={{team.pk}}>
                          <a href="javascript:void(0)" class="delete_member"><i class="fa fa-trash option-icon"></i>Delete</a>
                      </li>
                  </ul>
              </div>
              </td>

             </tr>
             {% endfor %}
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
  
    </section>
    <!-- /.content -->
  </div>
  {% endblock content %}
  {% block js %}
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    
$(function () {
    $("body").on("click",".delete_member",function(){
        var id = $(this).parent().data('id');
    
        bootbox.confirm({
        message: "Are you sure to remove this record ?",
        buttons: {
            confirm: {
                label: 'Yes',
                className: 'btn-success'
            },
            cancel: {
                label: 'No',
                className: 'btn-danger'
            }
        },
        callback: function (result) {
            if(result == true){
                $.ajax({
                    url:  "{% url 'web_app:delete_member' %}",
                    type: 'POST',
                    data: {pk: id, csrfmiddlewaretoken : "{{csrf_token}}"},
                    error: function() {
                    bootbox.alert('Something is wrong');
                },
                success: function(data) {
                    $("#"+id).remove();
                    bootbox.alert("Record removed successfully");
                }
            });
        }
    }
});
});
});
  
$(function () {
 
  $('#example2').DataTable({
    "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : true,
    'scrollX'     : true
  })
})
</script>
{% endblock js %}