<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
    <div class="category__item mb-30 transition-3 d-flex align-items-center">
       <div class="category__icon mr-30">
          <svg viewBox="0 0 512 512">
             <g>
                <path class="st0" d="M111.3,491.6C60.1,487.1,20,444.2,20,392V223.7c0-31.2,14.6-60.6,39.4-79.5l136-103.7   c35.8-27.3,85.5-27.3,121.3,0l9.2,7c-24.6-2.4-49.8,4.2-70.5,20L93.6,190.8C85,197.4,80,207.5,80,218.3V419   C80,447.6,92,473.4,111.3,491.6L111.3,491.6z"/>
                <path class="st1" d="M392,512H120C53.8,512,0,458.1,0,392V223.7c0-37.2,17.7-72.9,47.2-95.4l136-103.7   c42.8-32.7,102.7-32.7,145.5,0L372,57.5V32c0-11,9-20,20-20s20,9,20,20v65.9c0,7.6-4.3,14.5-11.1,17.9c-6.8,3.4-15,2.6-21-2   l-75.4-57.4c-28.6-21.8-68.5-21.8-97,0l-136,103.7c-19.7,15-31.5,38.8-31.5,63.6V392c0,44.1,35.9,80,80,80h272   c44.1,0,80-35.9,80-80V223.7c0-25.1-11.6-49-31.1-63.8c-8.8-6.7-10.5-19.2-3.8-28s19.3-10.5,28-3.8c29.3,22.4,46.9,58.1,46.9,95.6   V392C512,458.1,458.2,512,392,512z"/>
                <path class="st2" d="M241,256c0,13.8-11.2,25-25,25s-25-11.2-25-25s11.2-25,25-25S241,242.2,241,256z M296,231   c-13.8,0-25,11.2-25,25c0,13.8,11.2,25,25,25s25-11.2,25-25C321,242.2,309.8,231,296,231z M216,311c-13.8,0-25,11.2-25,25   s11.2,25,25,25s25-11.2,25-25S229.8,311,216,311z M296,311c-13.8,0-25,11.2-25,25s11.2,25,25,25s25-11.2,25-25S309.8,311,296,311z"/>
             </g>
             </svg>
       </div>
       <div class="category__content">
          <h4 class="category__title"><a href="course-details.html">Business</a></h4>
          <p>Improve your business</p>
       </div>
    </div>
 </div>

<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                       <div class="course__thumb w-img p-relative fix">
                                          <a href="course-details.html">
                                             <img src="assets/img/course/course-1.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="#">Art & Design</a>
                                          </div>
                                       </div>
                                       <div class="course__content">
                                          <div class="course__meta d-flex align-items-center justify-content-between">
                                             <div class="course__lesson">
                                                <span><i class="far fa-book-alt"></i>43 Lesson</span>
                                             </div>
                                             <div class="course__rating">
                                                <span><i class="icon_star"></i>4.5 (44)</span>
                                             </div>
                                          </div>
                                          <h3 class="course__title"><a href="course-details.html">Become a product Manager learn the skills & job.</a></h3>
                                          <div class="course__teacher d-flex align-items-center">
                                             <div class="course__teacher-thumb mr-15">
                                                <img src="assets/img/course/teacher/teacher-1.jpg" alt="">
                                             </div>
                                             <h6><a href="instructor-details.html">Jim Séchen</a></h6>
                                          </div>
                                       </div>
                                       <div class="course__more d-flex justify-content-between align-items-center">
                                          <div class="course__status">
                                             <span>Free</span>
                                          </div>
                                          <div class="course__btn">
                                             <a href="course-details.html" class="link-btn">
                                                Know Details
                                                <i class="far fa-arrow-right"></i>
                                                <i class="far fa-arrow-right"></i>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                       <div class="course__thumb w-img p-relative fix">
                                          <a href="course-details.html">
                                             <img src="assets/img/course/course-2.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="#" class="sky-blue">Mechanical</a>
                                          </div>
                                       </div>
                                       <div class="course__content">
                                          <div class="course__meta d-flex align-items-center justify-content-between">
                                             <div class="course__lesson">
                                                <span><i class="far fa-book-alt"></i>72 Lesson</span>
                                             </div>
                                             <div class="course__rating">
                                                <span><i class="icon_star"></i>4.5 (44)</span>
                                             </div>
                                          </div>
                                          <h3 class="course__title"><a href="course-details.html">Fundamentals of music theory Learn new</a></h3>
                                          <div class="course__teacher d-flex align-items-center">
                                             <div class="course__teacher-thumb mr-15">
                                                <img src="assets/img/course/teacher/teacher-2.jpg" alt="">
                                             </div>
                                             <h6><a href="instructor-details.html">Barry Tone</a></h6>
                                          </div>
                                       </div>
                                       <div class="course__more d-flex justify-content-between align-items-center">
                                          <div class="course__status d-flex align-items-center">
                                             <span class="sky-blue">$32.00</span>
                                             <span class="old-price">$68.00</span>
                                          </div>
                                          <div class="course__btn">
                                             <a href="course-details.html" class="link-btn">
                                                Know Details
                                                <i class="far fa-arrow-right"></i>
                                                <i class="far fa-arrow-right"></i>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                       <div class="course__thumb w-img p-relative fix">
                                          <a href="course-details.html">
                                             <img src="assets/img/course/course-7.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="#" class="blue-2">Development</a>
                                          </div>
                                       </div>
                                       <div class="course__content">
                                          <div class="course__meta d-flex align-items-center justify-content-between">
                                             <div class="course__lesson">
                                                <span><i class="far fa-book-alt"></i>43 Lesson</span>
                                             </div>
                                             <div class="course__rating">
                                                <span><i class="icon_star"></i>4.4 (40)</span>
                                             </div>
                                          </div>
                                          <h3 class="course__title"><a href="course-details.html">Bases Matemáticas dios Álgebra Ecuacion</a></h3>
                                          <div class="course__teacher d-flex align-items-center">
                                             <div class="course__teacher-thumb mr-15">
                                                <img src="assets/img/course/teacher/teacher-7.jpg" alt="">
                                             </div>
                                             <h6><a href="instructor-details.html">Samuel Serif</a></h6>
                                          </div>
                                       </div>
                                       <div class="course__more d-flex justify-content-between align-items-center">
                                          <div class="course__status d-flex align-items-center">
                                             <span class="blue-2">$46.00</span>
                                             <span class="old-price">$68.00</span>
                                          </div>
                                          <div class="course__btn">
                                             <a href="course-details.html" class="link-btn">
                                                Know Details
                                                <i class="far fa-arrow-right"></i>
                                                <i class="far fa-arrow-right"></i>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                       <div class="course__thumb w-img p-relative fix">
                                          <a href="course-details.html">
                                             <img src="assets/img/course/course-3.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="#" class="green">Development</a>
                                          </div>
                                       </div>
                                       <div class="course__content">
                                          <div class="course__meta d-flex align-items-center justify-content-between">
                                             <div class="course__lesson">
                                                <span><i class="far fa-book-alt"></i>14 Lesson</span>
                                             </div>
                                             <div class="course__rating">
                                                <span><i class="icon_star"></i>3.5 (55)</span>
                                             </div>
                                          </div>
                                          <h3 class="course__title"><a href="course-details.html">Strategy law and organization Foundation</a></h3>
                                          <div class="course__teacher d-flex align-items-center">
                                             <div class="course__teacher-thumb mr-15">
                                                <img src="assets/img/course/teacher/teacher-3.jpg" alt="">
                                             </div>
                                             <h6><a href="instructor-details.html">Elon Gated</a></h6>
                                          </div>
                                       </div>
                                       <div class="course__more d-flex justify-content-between align-items-center">
                                          <div class="course__status d-flex align-items-center">
                                             <span class="green">$46.00</span>
                                             <span class="old-price">$68.00</span>
                                          </div>
                                          <div class="course__btn">
                                             <a href="course-details.html" class="link-btn">
                                                Know Details
                                                <i class="far fa-arrow-right"></i>
                                                <i class="far fa-arrow-right"></i>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                       <div class="course__thumb w-img p-relative fix">
                                          <a href="course-details.html">
                                             <img src="assets/img/course/course-4.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="#" class="blue">Marketing</a>
                                          </div>
                                       </div>
                                       <div class="course__content">
                                          <div class="course__meta d-flex align-items-center justify-content-between">
                                             <div class="course__lesson">
                                                <span><i class="far fa-book-alt"></i>22 Lesson</span>
                                             </div>
                                             <div class="course__rating">
                                                <span><i class="icon_star"></i>4.5 (42)</span>
                                             </div>
                                          </div>
                                          <h3 class="course__title"><a href="course-details.html">The business Intelligence analyst Course 2022</a></h3>
                                          <div class="course__teacher d-flex align-items-center">
                                             <div class="course__teacher-thumb mr-15">
                                                <img src="assets/img/course/teacher/teacher-4.jpg" alt="">
                                             </div>
                                             <h6><a href="instructor-details.html">Eleanor Fant</a></h6>
                                          </div>
                                       </div>
                                       <div class="course__more d-flex justify-content-between align-items-center">
                                          <div class="course__status d-flex align-items-center">
                                             <span class="blue">$62.00</span>
                                             <span class="old-price">$97.00</span>
                                          </div>
                                          <div class="course__btn">
                                             <a href="course-details.html" class="link-btn">
                                                Know Details
                                                <i class="far fa-arrow-right"></i>
                                                <i class="far fa-arrow-right"></i>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <div class="course__item white-bg mb-30 fix">
                                       <div class="course__thumb w-img p-relative fix">
                                          <a href="course-details.html">
                                             <img src="assets/img/course/course-8.jpg" alt="">
                                          </a>
                                          <div class="course__tag">
                                             <a href="#" class="yellow">Marketing</a>
                                          </div>
                                       </div>
                                       <div class="course__content">
                                          <div class="course__meta d-flex align-items-center justify-content-between">
                                             <div class="course__lesson">
                                                <span><i class="far fa-book-alt"></i>22 Lesson</span>
                                             </div>
                                             <div class="course__rating">
                                                <span><i class="icon_star"></i>4.5 (42)</span>
                                             </div>
                                          </div>
                                          <h3 class="course__title"><a href="course-details.html">The business Intelligence analyst Course 2022</a></h3>
                                          <div class="course__teacher d-flex align-items-center">
                                             <div class="course__teacher-thumb mr-15">
                                                <img src="assets/img/course/teacher/teacher-8.jpg" alt="">
                                             </div>
                                             <h6><a href="instructor-details.html">Brian Cumin</a></h6>
                                          </div>
                                       </div>
                                       <div class="course__more d-flex justify-content-between align-items-center">
                                          <div class="course__status d-flex align-items-center">
                                             <span class="yellow">$62.00</span>
                                             <span class="old-price">$97.00</span>
                                          </div>
                                          <div class="course__btn">
                                             <a href="course-details.html" class="link-btn">
                                                Know Details
                                                <i class="far fa-arrow-right"></i>
                                                <i class="far fa-arrow-right"></i>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>