{% load static %} {% load tags %}

</div>
</div>
 <div class="course__tab-content mb-95">
      <div class="tab-content" id="courseTabContent">
         <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="course__description">
                {% if order.journey.description|length > 0 %}
            
                <h3>{% if order.type == "overview" %} {{ order.data|safe }} {% else %} Course Overview {% endif %}</h3>
               <p>{{order.journey.description|safe}}</p>
               {% endif %}

               {% if order.journey.tags|length > 0 %}
               <div class="course__tag-2 mb-35 mt-35">
                  <i class="fal fa-tag"></i>
                  {{order.journey.tags}}
                  <!-- <a href="#">Big data,</a>
                  <a href="#">Data analysis,</a>
                  <a href="#">Data modeling</a> -->
               </div>
               {% endif %}
