{% extends 'base.html' %} {% load static %} 
 {% load crispy_forms_tags %} 
 {% block title %} Target Audience {% endblock %}
 {% block content %}
 {% block css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock css %} 
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Target Audience
      </h1>
    </section>
  
    <!-- Main content -->
    <section class="content">
  
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Target Audience</h3>

        </div>
        <div class="box-body">
          {% crispy form %}
  
        </div>
      </div>
      <!-- /.box -->
      {% if 'update-target-audience/' not in request.path %}
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Target Audience</h3>
          
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
             <tr>
               <th>Id</th>
               <th>Title</th>
               <th>Description</th>
             </tr>
            </thead>
            <tbody>
             {% for audiences in target_audiences %}
             <tr>
               <td>{{forloop.counter }}</td>
               <td>{{audiences.name}}</td>
               <td>{{audiences.description}}</td>
               <td>
               <div class="dropdown">
                     <button class="btn bg-purple dropdown-toggle btn-select-option" type="button" data-toggle="dropdown" aria-expanded="true">Select an option<span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu options-dropdown">
                     
                         <li>
                             <a href="{% url 'mentor:update_target_audience' pk=audiences.pk %}"><i class="fa fa-edit option-icon"></i>Edit</a>
                         </li>
                         <li id="delete_data" data-id={{audiences.id}}>
                            <a href="javascript:void(0)" ><i class="fa fa-trash option-icon"></i>Delete</a>
                          </li>
                     </ul>
                 </div></td>
             </tr>
             {% endfor %}
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      {% endif %}
    </section>
    <!-- /.content -->
  </div>
  {% endblock content %}
  {% block js %}
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
$(function () {
  $("body").on("click","#delete_data",function(){
    var id = $(this).data('id');
    bootbox.confirm({
    message: "Are you sure to remove this record ?",
    buttons: {
        confirm: {
            label: 'Yes',
            className: 'btn-success'
        },
        cancel: {
            label: 'No',
            className: 'btn-danger'
        }
    },
    callback: function (result) {
        if(result == true){
          $.ajax({
               url:  "{% url 'mentor:delete_target_audience' %}",
               type: 'POST',
               data: {id: id, csrfmiddlewaretoken : "{{csrf_token}}" },
               error: function() {
                bootbox.alert('Something is wrong');
               },
               success: function(data) {
                    $("#"+id).remove();
                    bootbox.alert("Record removed successfully");
                    location.reload()
               }
            });
        }
    }
});
});
});

$(function () {
 
  $('#example2').DataTable({
    "dom": '<"table-pull-left"f><"table-pull-right"l>tip',
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : true,
    'info'        : true,
    'scrollX'     : true
    //'autoWidth'   : true
  })
});
</script>
{% endblock js %}