<div class="box">
    <div class="box-header">
    <h3 class="box-title">Feedback Template List</h3>
    <a href="/feedback/create-feedback-template/"><button class="btn btn-primary pull-right">Create Feedback Template</button></a> 
    </div>
    <!-- /.box-header -->
    <div class="box-body">
    <table id="feedback-table" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Template For</th>
            <th>Company</th>
            <th>Journey</th>
            <th>Add Question</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="feedback in feedback_list" :key="feedback.id">                   
        <td>[[feedback.name]] </td>
        <td v-html="feedback.short_description">[[feedback.short_description]]</td>
        <td>[[feedback.template_for]]</td>
        <td>[[feedback.company]]</td>
        <td>[[feedback.journey]]</td>
        <td><a :href="'/feedback/add-template-question/'+feedback.id"><button class="btn btn-primary"> Add Questions</button></a></td>
        <td>
            <div class="dropdown">
                <button class="btn bg-purple dropdown-toggle btn-select-option" type="button" data-toggle="dropdown" aria-expanded="true">Select an option<span class="caret"></span>
                </button>
                <ul class="dropdown-menu options-dropdown">
                    <li>
                        <a :href="'/feedback/edit-feedback-template/'+feedback.id"><i class="fa fa-edit option-icon"></i>Edit</a>
                    </li>
                </ul>
            </div>
        </td>
        </tr>
    </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->